@import "tailwindcss";

@theme {
  --color-background: #000;
  --color-backgroundContrast: #111;
  --color-textblack: #1d1d1f;
  --color-white: #fff;

  --font-sans: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1.0625rem; /* 17px */
  --text-lg: 1.1875rem; /* 19px */
  --text-xl: 1.3125rem; /* 21px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.75rem; /* 28px */
  --text-4xl: 2.5rem; /* 40px */
  --text-5xl: 4.5rem; /* 72px */
  --text-6xl:6rem;
  --text-7xl:6.2rem;

  --line-height-5xl: 1.05; 
  --line-height-4xl: 1.1;
  --line-height-lg: 1.21;

  --header-row-height: 44px;  
  --header-height: calc(var(--header-row-height) * 2);
  --hero-height: calc(100svh - var(--header-height)); 

  /* // Breakpoint  */

  --breakpoint-3xl: 120rem;

  
}

@layer utilities {
  @keyframes carousel-move {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }

  .animate-carousel {
    animation: carousel-move var(--duration,80s) infinite ;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
